@import './normalize.css';

body {
    display: grid;
    place-items: center center;
    height: 100vh;
    background: radial-gradient(#ff5d71, #EB3349);
    font-family: monospace;
}

h1 {
    font-size: 10vmin;
}

h2 {
    font-size: 5vmin;
}

a {
    text-decoration: none;
    color: #000;
    font-size: 10vmin;
}

a:hover {
    background: radial-gradient(circle at bottom center, #FFC83700 5vmin, #FF800800);
}

a:active {
    background: radial-gradient(circle at bottom center, #545454 5vmin, #3c3c3c);
}

.grid {
    display: grid;
    grid-gap: 3vmin;
    grid-template-columns: repeat(2, 30vmin);
    grid-template-rows: repeat(3, 20vmin);
}

.tall {
    grid-row: span 2;
}

.full-width {
    grid-column: 1 / -1;
}

.jumbo {
    grid-template-rows: repeat(2, 1fr);
}

.tile {
    background: white;
    border-radius: 17px;
    display: grid;
    place-items: center;
    background: radial-gradient(circle at bottom center, #FFC837 5vmin, #FF8008);
    box-shadow: 0 3vmin 3vmin -1.5vmin rgba(0, 0, 0, 0.2);
}
